*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*add css to the body*/
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	font-family: Verdana;
}
div#root {
	width: 100%;
	height: 100%;
}
ul {
	display: block;
	list-style-type: disc;
	margin: 1em 0 1em 0;
	padding-left: 40px;
}

/*Define pages*/
.page {
	width: 100%;
	height: auto;
	min-height: 100% !important;
	background-size: 100% 100%;
	display: inline-block;
}
.page.one:not(.variant2) {
	background-color: #005;
	background-image: linear-gradient(to bottom, #005 0%, #335 90%, #A84300 100%);
}
.page.one.variant2 {
	background-color: #005;
	background-image: linear-gradient(to bottom, #005 0%, #335 90%, #5970C1 100%);
}
.page.two:not(.variant2) {
	background-color: #A84300;
	background-image: linear-gradient(to bottom, #A84300 0%, #A84300 90%, #5970C1 100%);
}
.page.two.variant2 {
	background-color: #aaaaff;
	background-image: linear-gradient(to bottom, #5970C1 0%, #5970C1 90%, #5970C1 100%);
}
.page.three {
	background-color: #aaaaff;
	background-image: linear-gradient(to bottom, #5970C1 0%, #5970C1 90%, #262626 100%);
}
.page.four {
	background-color: #aaaaff;
	background-image: linear-gradient(to bottom, #262626 0%, #000000 90%, #000000 100%);
}
.page.statusPage {
	color: white;
}

/*What about the titles*/
.title {
	color: white;
	display: inline-block;
	margin: auto;
	margin-top: 4vh;
	vertical-align: top;
}
.title.two {
	font-size: 25vw;
	width: 100%;
}
.title.three {
	font-size: 15vw;
}

/*And the text*/
.text {
	margin: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 1vh;
}
.text.two {
	font-size: 3vw;
	color: #dedede;
	margin-left: 5vw;
}
.text.three {
	font-size: 3vw;
	color: #dedede;
	margin-left: 1vw;
}
.title.status {
	margin: 0;
	padding: 0;
	font-size: 4vw;
}
.highlight {
	font-weight: bolder;
	color: #E4D2BA;
}

/*We need something to contain all that*/
.container {
	vertical-align: top;
	display: inline-block;
	margin: auto;
}
.container.two {
	width: 90%;
	background-color: #ffffff55;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 20px 5px;
	padding: 2vw;
	text-align: left;
	color: #333333;
}
@media only screen and (min-width: 1500px) {
	.container.two {
		width: 450px;
		background-color: #ffffff55;
		margin: 0;
		margin-bottom: 10px;
		border-radius: 20px 5px;
		padding: 30px;
		text-align: left;
		color: #333333;
	}
}
.container.two h2 {
	text-align: center;
}
.container.two.containercontainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
	overflow-x: initial;
}
.container.three {
	width: 35vw;
}
.statusBox {
	width: 95%;
	height: auto;
	border-radius: 1vw;
	opacity: 0.7;
	margin: auto;
	text-align: center;
	padding: 2vw;
	margin-top: 3vw;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

/*Let's have some widget action*/
.discordWidget {
	display: inline-block;
	height: 90vh;
	margin-top: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
	width: 40vw;
}

/* Barter rules*/
.logo {
	margin: 1vw;
	margin-left: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3vw;
	width: 20vw;
	height: 20vw;
	background-color: #010019;
}
.button, .textblock {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 6px;
	border: none;
  margin: 10px auto;
	padding: 1em;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
	width: 90%;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.button.disabled {
	background-image: linear-gradient(to right, #555555 0%, #aaaaaa 50%, #555555 100%);
}
.button.important {
	background-image: linear-gradient(to right, #390ca2 0%, #bf5bb4 50%, #390ca2 100%);
}
.button.destructive {
	background-image: linear-gradient(to right, #ff0000 0%, #ff8888 50%, #ff0000 100%);
}
.textblock {
	background-image: none;
	color: #8659EF;
	border: 1px solid #8659EF;
}
.textblock.variant2 {
	color: #390ca1;
	border: 1px solid #390ca1;
}
.button:hover:not(.disabled):not(.pressed) {
  background-position: right center;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.button.pressed {
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0.5;
	background-position: center center;
}
.disable-select {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.tooltip {
	position: relative;
	cursor: help;
}
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: 
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none;
}
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
.tooltip:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
.tooltip:after {
	z-index: 1000;
	padding: 8px;
	width: 160px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}
.tooltip:before,
.tooltip:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}
.tooltip:before {
	margin-left: 0;
	margin-right: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #000;
	border-left-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	transform: translateX(-12px);
}
