@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *::before, *::after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*add css to the body*/
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
div#root {
	width: 100%;
	height: 100%;
}

/*Define pages*/
.page {
	width: 100%;
	height: auto;
  min-height: 100% !important;
	background-size: 100% 100%;
}
.page.one:not(.variant2) {
	background-color: #ffaaaa;
	background-image: linear-gradient(to bottom, #ffaaaa 0%, #ffaaaa 90%, #A84300 100%);
}
.page.one.variant2 {
	background-color: #ffaaaa;
	background-image: linear-gradient(to bottom, #ffaaaa 0%, #ffaaaa 90%, #5970C1 100%);
}
.page.two:not(.variant2) {
	background-color: #aaffaa;
	background-image: linear-gradient(to bottom, #A84300 0%, #A84300 90%, #5970C1 100%);
}
.page.two.variant2 {
	background-color: #aaaaff;
	background-image: linear-gradient(to bottom, #5970C1 0%, #5970C1 90%, #5970C1 100%);
}
.page.three {
	background-color: #aaaaff;
	background-image: linear-gradient(to bottom, #5970C1 0%, #5970C1 90%, #5970C1 100%);
}

/*What about the titles*/
.title {
	color: white;
	display: inline-block;
	margin: auto;
	margin-top: 4vh;
	vertical-align: top;
}
.title.two {
	font-size: 25vw;
	width: 100%;
}
.title.three {
	font-size: 20vw;
}

/*And the text*/
.text {
	margin: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 1vh;
}
.text.two {
	font-size: 3vw;
	color: #dedede;
	margin-left: 5vw;
}
.text.three {
	font-size: 3vw;
	color: #dedede;
	margin-left: 5vw;
}

/*We need something to contain all that*/
.container {
	vertical-align: top;
	display: inline-block;
	margin: auto;
}
.container.two {
	width: 30vw;
	background-color: grey;
}
.container.two.containercontainer {
	width: auto;
	background-color: pink;
}
.container.three {
	width: 35vw;
}

/*Let's have some widget action*/
.discordWidget {
	display: inline-block;
	height: 90vh;
	margin-top: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
	width: 40vw;
}

/* Barter rules*/
.logo {
	margin: 1vw;
	margin-left: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3vw;
	width: 20vw;
	height: 20vw;
	background-image: linear-gradient(to top right, #8E4FF0 0%, #E991DB 100%);
}
.button, .textblock {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 6px;
	border: none;
  margin: 10px auto;
	padding: 1em;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
	width: 90%;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.button.disabled {
	background-image: linear-gradient(to right, #555555 0%, #aaaaaa 50%, #555555 100%);
}
.button.important {
	background-image: linear-gradient(to right, #390ca2 0%, #bf5bb4 50%, #390ca2 100%);
}
.button.destructive {
	background-image: linear-gradient(to right, #ff0000 0%, #ff8888 50%, #ff0000 100%);
}
.textblock {
	background-image: none;
	color: #390ca2;
	border: 1px solid #390ca2;
}
.button:hover:not(.disabled):not(.pressed) {
  background-position: right center;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.button.pressed {
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
  opacity: 0.5;
	background-position: center center;
}
div.half {
	width: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
div.quater {
	width: 25%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.notification {
    background-color: white;
    width: 20vw;
    height: 10vw;
    border: 1px solid black;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    border-radius: 1vw;
    opacity: 0.5;
    pointer-events: none;
}
