<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD CUSTOM STATIC RESOURCES -->

<script type="text/javascript" src="/js/index.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css"/>

<link rel="pwa-copmpat-manifest" href="/manifest/manifest.json" />

<meta charset="utf-8" />
<meta name="theme-color" content="#ffffff" />